// itinerary
.itin {
  display: flex;
  width: 98vw;
  margin: 0 auto;
}

.dayList {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90vh;
  justify-content: space-around;
  border: 1px solid black;

  .first {
    margin-top: 3vh;
  }

  a {
    text-decoration: none;
    color: black;
    margin-left: 2vw;
    // margin-bottom: 5vh;
  }
}

.day {
  border: 1px solid red;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .day-header {
    font-size: 3rem;
    margin: 3vh 0 1.5vh 0;
  }
  .day-subheader {
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }
  .day-header-line {
    border-bottom: 1px solid black;
    width: 35vw;
    margin-bottom: 4vh;
  }
}

// Monday May 23
.free23 {
  display: flex;

  .free23-img {
    width: 500px;
  }

  .free23-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 1.3rem;
      margin-bottom: 2vh;
    }

    p {
      margin: 0 1vw;
    }
  }
}
