.itin {
  display: flex;
  width: 98vw;
  margin: 0 auto;
}
.dayList {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 90vh;
  justify-content: space-around;
  border-right: 1px solid black;
  position: fixed;
}
.dayList .first {
  margin-top: 3vh;
}
.dayList a {
  text-decoration: none;
  color: black;
  margin-left: 2vw;
}
.day {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 18vw;
}
.day .day-header {
  font-size: 3rem;
  margin: 3vh 0 1.5vh 0;
}
.day .day-subheader {
  font-size: 1.5rem;
  margin-bottom: 1vh;
}
.day .day-header-line {
  border-bottom: 1px solid black;
  width: 35vw;
  margin-bottom: 4vh;
}
.select-img {
  width: 55vw;
}
.free23 {
  display: flex;
}
.free23 .free23-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78vw;
}
.free23 .free23-text h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.free23 .free23-text p {
  margin: 0 1vw;
  line-height: 1.3rem;
}
.free23 .free23-text .free23-links {
  margin: 3vh 1vw 0 1vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dinner23 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dinner23 h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.dinner23 p {
  line-height: 1.3rem;
}
.dinner23 .dinner23-bars {
  margin-top: 3vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.dinner23 .long-sagrada {
  width: 60vw;
  margin-bottom: 4vh;
}
.tour24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tour24 p {
  line-height: 1.3rem;
}
.tour24 .sagrada {
  display: flex;
  align-items: center;
  margin: 4vh 0;
}
.tour24 .sagrada .sagrada-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tour24 .sagrada .sagrada-text h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.tour24 .sagrada .sagrada-text p {
  margin-bottom: 2vh;
  margin-right: 1vw;
}
.tour24 .sagrada .sagrada-img {
  width: 37vw;
}
.tour24 .parcguell {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.tour24 .parcguell h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
  padding-left: 6vw;
}
.tour24 .parcguell p {
  padding-left: 6vw;
}
.tour24 .parcguell .parcguell-img {
  width: 37vw;
}
.tour24 .free24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.3rem;
}
.tour24 .free24 p {
  margin-bottom: 2vh;
}
.tour24 .free24 .free24-links {
  display: flex;
  width: 60vw;
  justify-content: space-between;
}
.tour24 .evening24 {
  display: flex;
  flex-direction: column;
}
.tour24 .evening24 .reial {
  display: flex;
  align-items: center;
}
.tour24 .evening24 .reial h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.tour24 .evening24 .reial p {
  padding-right: 2.5vw;
}
.tour24 .evening24 .reial .reial-img {
  width: 40vw;
}
.tour24 .evening24 .night24 {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}
.tour24 .evening24 .night24 .night24-links {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  margin-top: 2vh;
  justify-content: space-evenly;
}
.tour24 .evening24 .night24 p {
  width: 100%;
}
.tour24 .night24-imgs {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
}
.tour24 .night24-imgs .barcbeach-img {
  width: 37vw;
}
.tour24 .night24-imgs .rambla-img {
  width: 37vw;
}
.intro25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.3rem;
}
.intro25 img {
  width: 75vw;
}
.intro25 .intro25-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro25 .intro25-text p {
  margin-top: 3vh;
  width: 72vw;
}
.sitges-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3vh;
  line-height: 1.3rem;
}
.sitges-info h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.sitges-info .sitges-text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.sitges-info .sitges-text .sitges-hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin-bottom: 6vh;
}
.sitges-info .sitges-text .sitges-gen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.sitges-info .sitges-pic {
  width: 58vw;
  margin-top: 3vh;
}
.potluck {
  line-height: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.potluck h4 {
  font-size: 1.3rem;
  margin-bottom: 3vh;
}
.potluck p {
  margin-bottom: 3vh;
}
.mont-container {
  display: flex;
  margin-bottom: 4vh;
  justify-content: center;
  align-items: center;
}
.mont-container .mont-img {
  width: 40vw;
}
.mont-container .mont-text {
  line-height: 1.3rem;
  padding-left: 2vw;
}
.mont-container .mont-text h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.cava {
  display: flex;
  line-height: 1.3rem;
  justify-content: center;
  align-items: center;
}
.cava .cava-img {
  width: 40vw;
}
.cava .cava-text h4 {
  margin-bottom: 2vh;
  font-size: 1.3rem;
}
.cava .cava-text p {
  line-height: 1.3rem;
}
.free26 {
  margin-bottom: 2vh;
}
.bars {
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}
.bars h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.bars p {
  margin-bottom: 2vh;
}
.bars .bars-img {
  width: 70vw;
  margin-bottom: 2vh;
}
.free27 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.free27 .free27-img {
  width: 78vw;
}
.free27 .free27-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.3rem;
  margin-top: 3vh;
}
.free27 .free27-text h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.free27 .free27-text p {
  margin-bottom: 2vh;
}
.catamaran {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 2vh;
}
.catamaran .catamaran-text {
  padding-right: 3vw;
}
.catamaran .catamaran-text p {
  line-height: 1.3rem;
}
.catamaran .catamaran-text h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.catamaran .cat-img {
  width: 40vw;
}
.bbq {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 3vh;
  margin-top: 2vh;
}
.bbq .bbq-text {
  padding-left: 2vw;
}
.bbq .bbq-text h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.bbq .bbq-text p {
  line-height: 1.3rem;
}
.bbq .bbq-img {
  width: 35vw;
}
.event-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 4vh;
}
.event-container .engagement {
  width: 37vw;
}
.event-container .timeline {
  line-height: 1.3rem;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-container .timeline h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.free29 {
  display: flex;
  margin-bottom: 3vh;
}
.free29 .free29-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
}
.free29 .free29-text h4 {
  font-size: 1.3rem;
}
.free29 .festival {
  width: 30vw;
}
.farewell-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.farewell-content p {
  margin-bottom: 3vh;
}
.farewell-content .farewell-img {
  margin-bottom: 3vh;
}
