.itin {
  display: flex;
  width: 98vw;
  margin: 0 auto;
}
.dayList {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90vh;
  justify-content: space-around;
  border-right: 1px solid black;
}
.dayList .first {
  margin-top: 3vh;
}
.dayList a {
  text-decoration: none;
  color: black;
  margin-left: 2vw;
}
.day {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day .day-header {
  font-size: 3rem;
  margin: 3vh 0 1.5vh 0;
}
.day .day-subheader {
  font-size: 1.5rem;
  margin-bottom: 1vh;
}
.day .day-header-line {
  border-bottom: 1px solid black;
  width: 35vw;
  margin-bottom: 4vh;
}
.free23 {
  display: flex;
}
.free23 .free23-img {
  width: 500px;
}
.free23 .free23-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.free23 .free23-text h4 {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.free23 .free23-text p {
  margin: 0 1vw;
  line-height: 1.3rem;
}
.free23 .free23-text .free23-links {
  display: flex;
  flex-wrap: wrap;
  margin: 3vh 1vw 0 1vw;
  justify-content: center;
  align-items: center;
}
.free23 .free23-text .free23-links li {
  width: 200px;
  margin-right: 100px;
}
.dinner23 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dinner23 p {
  line-height: 1.3rem;
}
.dinner23 .dinner23-bars {
  margin-top: 3vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
